.dropdown {
    position: relative;
    display: inline-block;
    font-size: 2.5em;
    font-family: 'Lato', sans-serif;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    font-family: 'Lato', sans-serif;
}

.dropdown:hover .dropdown-content {
    display: block;
     background-color: black;
     color:white;
}
.A:Hover {color: white;
          background-color:purple; }
.B:Hover {color: black;
          background-color:pink; }
.C:Hover {color: white;
          background-color:violet; }
.D:Hover {color: white;
          background-color:green; }
.E:Hover {color: white;
          background-color:red; }
.F:Hover {color: black;
          background-color:yellow; }
.G:Hover {color: black;
          background-color:white; }

a{text-decoration: none;
  color:white;
  }
a:hover{color:white
        background-color:black;}

nav {background-color:black;
      }

.container{padding-top: 50px;
           width: 560px;
           }

iframe{border:2px, solid black;}

#wrapper{width: 950px;
           margin: 0 auto;
           }

article p{font-size: 1.5em;
           font-family: 'Lato', sans-serif;
           background-color: black;
           color:white; 
           border:1px solid white;
          }
#cortometraje{font-size: 2.0em;
              padding-top: 25px;
              font-family: verdana;
              color:white;
              background-color: black;}]

.containerB {height:150px;
                width: 200px;
                border-radius: 25px;
                 }

.tarea{font-size: 2.0em;
    font-family: 'Lato', sans-serif;
    padding-top: 20px;}

.containerA{display: inline;}
.containerC{display: inline;}


